/* Styles for calculator */
/* Overall styles */
.grid {
  grid-template-columns: auto auto auto;
}

.flex {
  justify-content: space-between;
}

.number,
.operator {
  font-size: 2vw;
  padding: 3px 10px;
  background-color: orange;
  border: 2px solid orange;
  border-radius: 10px;
  margin: 5px;
}

.number:hover,
.operator:hover {
  background-color: #fbc663;
}

/* Title styling */
#title {
  align-items: center;
  display: flex;
  height: 30vw;
  justify-content: center;
  text-align: center;
  background: url(../img/html_background_2.png) lightblue top left;
  /* animation to scroll and change background to css code */
  animation: title-background 4s 3;
  /* Add number of repeats and use a longer image */
}

@keyframes title-background {
  25% {
    background: url(../img/html_background_2.png) lightcoral bottom left;
  }
  50% {
    background: url(../img/css_background_2.png) lightblue bottom left;
  }
  75% {
    background: url(../img/css_background_2.png) lightcoral top left;
  }
  100% {
    background: url(../img/html_background_2.png) lightblue top left;
  }
}

#title-bg {
  background-color: #ff79e2;
  width: 56%;
  flex-wrap: wrap;
  padding: 5vw 2vw 8vw;
}

/* Calculator styles */
#calculator {
  text-align: center;
}

#output {
  background-color: #dddddd;
  width: 90%;
  padding: 2vw 0;
  margin: auto;
}

#input {
  width: 50%;
  margin: auto;
}
