* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(#1195c9, #1195c9, #ff79e2);
}

section {
  padding: 1vw;
  background-color: #bd83ff;
  text-align: center;
}

/* General element styles */
h1 {
  color: white;
  font-size: 2.8vw;
}

h2 {
  font-size: 2.5vw;
}

h3 {
  font-size: 2vw;
}

h4 {
  font-size: 1.5vw;
}

p {
  font-size: 1.3vw;
}

/* Nav bar style */

.container {
  width: 100%;
  min-height: 10vh;
  padding: 0 8%;
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
}

#menu-icon {
  display: none;
  cursor: pointer;
  width: 25px;
}

nav {
  flex: 1; /*Each item that has flex 1 has the remaining width of container*/
  text-align: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 1.1vw;
}

nav ul li a:hover {
  color: #fea1c8;
}

/* Back to top button */
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: black; /* Set a background color */
  color: white;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px;
}

/* Common styling for pages */
/* When js has more code use in bg of index */

/* Title section styling */
/* Gives heading a background colour. */
#title-bg {
  background-color: #ff79e2;
  width: 56%;
  height: 8vw;
  flex-wrap: wrap;
  padding: 10vw 2vw 15vw;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #1195c9;
  color: white;
  min-width: 7vw;
  margin: 2vw 0.3vw;
  padding: 2px;
  font-size: 1.3vw;
  text-align: center;
}

.btn:hover {
  background-color: #1195c9;
}

/* Common styling */
/* Backgrounds for sections */
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  background-color: violet;
}

/* Style for index webpage */

/* Entire page styling */
.section-content {
  margin: 1vw;
}

/* RWD Styling */
@media only screen and (max-width: 728px) {
  /* Nav menu adjusted for screen size */
  #menu-icon {
    display: block;
    position: absolute;
    top: 10px;
  }

  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }

  nav ul {
    width: 50%;
    background: linear-gradient(#1195c9, #ff79e2);
    top: 70px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
    padding-right: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  nav ul li a:hover {
    color: #fff;
    font-weight: bolder;
  }
}

@media screen and (max-width: 878px) {
  /* text size adjustments for screens */
  h1 {
    color: white;
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 11px;
  }

  nav ul li a {
    font-size: 10px;
  }

  .btn {
    font-size: 11px;
    margin: 2vw 0vw;
  }

  /* Banner size */
  #title-bg {
    padding-bottom: 80px;
    width: 65%;
  }

  /* section specific adjustments */

  /* Changing proportion of left and right */
  .left {
    width: 40%;
  }

  .right {
    width: 60%;
  }

  /* List size adjustment */
  .left ul,
  .right ol {
    font-size: 11px;
  }

  /* Border resizing */
  #dotted-dashed,
  #solid-double,
  #inset-outset,
  #fun {
    height: 50px;
    font-size: 11px;
  }
}
