* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecf8fc;
}

header{
    background: linear-gradient(#1195c9, #1195c9, #ff79e2);
}

/* General element styles */
h1{
    color: white;
    font-size: 2.8vw;
}

/* Class styles for whole page */
/* .btn{

    
} */

/* .btn:hover{
    
} */

/* Nav bar style */

.container{
    width: 100%;
    min-height: 10vh;
    padding: 0 8%;
    overflow: hidden;
}

.navbar{
    display: flex;
    width: 100%;
    align-items: center;
}

#menu-icon{
    display: none;
    cursor: pointer;
    width: 25px;
}

nav{
    flex: 1; /*Each item that has flex 1 has the remaining width of container*/
    text-align: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

nav ul li a:hover{
    color: #fea1c8;
}

/* Title section styling */

/* Gives heading a background colour. */
#title{
    display: flex;
    justify-content: center;
    padding: 10vh 0;
    /* Have background scroll through css? -- Text background colour */
}

#title-bg{
    background-color: #ff79e2;
    width: 50%;
    justify-content: center;
    height: 8vw;
    display: flex;
    flex-wrap: wrap;
}



/* RWD Styling */
@media only screen and (max-width: 700px){
    #menu-icon{
        display: block;
        position: fixed;
        top: 10px;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    nav ul{
        width: 50%;
        background: linear-gradient(#1195c9, #ff79e2);
        top: 70px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin: 10px 0;
        padding-right: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    nav ul li a:hover{
        color: #fff;
        font-weight: bolder;
    }
}